<div class="container">
    <div class="lead jumbotron">
        <div class="media">
        <img src="<%= @question.gravatar %>" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0"><%= @question.email %></h5>
            <%= @question.body %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div>
                <button type="button" class="btn btn-success btn-sm mb-3"  data-toggle="modal" data-target="#exampleModal">Submit new Answer</button>

            </div>

            <%= render 'home/new_answer_form'%>

            <% @answers.each do |answer| %>

            <div class="media mb-3">
                <img src="<%= answer.gravatar%>" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"><%= answer.email %> answered:</h5>
                    <div> <%= time_ago_in_words answer.created_at%> ago</div>

                    <%= answer.body%>
                </div>
            </div>
            <% end %>

            <% if @answers.empty?%>
                <div class="alert alert-primary" role="alert">
                    There's no answer found yet!
                </div>
            <%end%>
        </div>
    </div>

</div>