<div class="jumbotron">
    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
    The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of 
    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
</div>
<div class="container">
    <% @questions.each do |question|%>
    <div class="media mb-3">
        <img src="<%= question.gravatar%>" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0"><%= question.email%> asked:</h5>
            <div> <%= time_ago_in_words question.created_at%> ago</div>

            <%= question.body%>
            <div>
            <a href="<%= question_path(question)%>" class="btn btn-success btn-xs"> View Answers</a>
            </div>
        </div>
    </div>
    <%end%>
</div>
